head
  link(rel="stylesheet", href="style/header.css")

body 
  ul.navbar
    li
      a(href="/") Home
    li  
      if !user
        a(href="/signup") Sign up
      else
        a(href="/logout") Log out
        a(href="/list") My watchlist