div
  a(href="/") Home
  if !user
    a(href="/signup") Sign up
  else
    a(href="/logout") Log out
    a(href="/list") My watchlist
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM", crossorigin="anonymous")
br
br
br