body

header
    include ../partials/header.pug
main
    h1 Add movie
    form#form_Login(action="/addmovie" method="post")
        input#txt_title(type="text" name="title" placeholder="Movie title", required)
        input#txt_director(type="text" name="director" placeholder="Director", required)
        input#txt_releaseYear(type="number" name="releaseYear" placeholder='Release year', required)
        input#txt_rating(type="number" name="rating" min="1" max="5" placeholder='Rating (1-5)' required)
        input(type="submit" value="Add movie")

footer