html
    head
        title= title
    body 
        include ../partials/header.pug
        if !user
            h1 Hello, log in or sign up to creat a new account!
        else
            h1 Hello there #{user.username}
