head
    link(rel="stylesheet", href="style/index.css")

body
    header
        include ../partials/header.pug
    main
        if watchlistMovies && watchlistMovies.length > 0
            h2 Watchlist Movies
            section.watchlist
                ul
                    each movie in watchlistMovies
                        li
                            div.details
                                h3= movie.title
                                p Director: #{movie.director}
                                p Release Year: #{movie.releaseYear}
                                button.add-to-watchlist(type="button", data-movie-id=movie._id) Delete from watchlist                    
        else
            p No movies in watchlist.
    footer